
ProximityFileSync/.metadata/.lock

*.version

*.index

*.tree

*.resources

*.prefs

*.xmi

ProximityFileSync/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

ProximityFileSync/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.txt

ProximityFileSync/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.xml

*.ini

*.class
